<h1><%= @event.name %></h1>


<%= simple_format @event.description %>

<h2><%= t(@event.status, :scope => "event.status") %></h2>

<h2><%= @event.category.try(:name) %></h2>

<% if @event.images.present? %>
  <% @event.images.each do |i| %>
    <%= link_to image_tag(i.url(:small)), i.url %>
  <% end %>
<% end %>

<p><%= link_to "开始报名", new_event_registration_path(@event), :class => "btn btn-primary" %></p>
